<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <header>
        <h1>{% block pagename %}{% endblock %}</h1>
    </header>
    <nav>
        {% block menu %}
            <li><a href="{% url 'main' %}">Главная</a></li>
            <li><a href="{% url 'shop' %}">Магазин</a></li>
            <li><a href="{% url 'cart' %}">Корзина</a></li>
        {% endblock %}
    </nav>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>